{% extends "base.html" %}

{% block content %}
                    <hr />
                    <p>You are following {{ followees|length }} users</p>
                    <hr />
                    <a href="{% url 'table_new' %}">
                        <i class="fa fa-plus-square fa-lg"></i>
                        &nbsp;Create table
                    </a>
                    <p>Tables:
                        <ul>
                        {% for table in tables %}
                            <li><a href="{% url 'table_detail' pk=table.pk %}">{{ table.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </p>
{% endblock %}
